<a href="https://colab.research.google.com/github/carvalheirafc/dim0097/blob/master/lista1/quest%C3%A3o_c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import mode
import seaborn as sns
from matplotlib import pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
'''
IO 'Lista1_Conjunto1.xlsx' into Pandas Dataframe
Selected only columns with valid data. Excluded NaN.
Renamed columns names.

'''
data = pd.read_excel('Lista1_Conjunto1.xlsx', skiprows=1, usecols=[2,3,4,5,6,7])
data.columns = data.loc[[0]].values.reshape(-1)
data.head()

    V1   V2    V3   V4    V5   V6
0   V1   V2    V3   V4    V5   V6
1  5.1  3.5  4.95  1.4  1.96  0.2
2  4.9    3   5.3  1.4  1.96  0.2
3  4.7  3.2   4.6  1.3  1.69  0.2
4  4.6  3.1  4.55  1.5  2.25  0.2

In [3]:
'''
Execute this only once in a runtime session.
This delete only the first column, ['V1', 'V2', ...'V6']
'''
data.drop([0], inplace=True)

In [4]:
data.astype(float).describe().transpose()

    count       mean        std  min     25%     50%      75%    max
V1  150.0   5.843333   0.828066  4.3  5.1000   5.800   6.4000   7.90
V2  150.0   3.057333   0.435866  2.0  2.8000   3.000   3.3000   4.40
V3  150.0   7.100667   1.850630  3.8  5.1625   7.400   8.5875  11.50
V4  150.0   3.758000   1.765298  1.0  1.6000   4.350   5.1000   6.90
V5  150.0  17.218067  12.627044  1.0  2.5600  18.925  26.0100  47.61
V6  150.0   1.199333   0.762238  0.1  0.3000   1.300   1.8000   2.50

In [5]:
'''
Describe Stats of a variable.
input: np.array
output: Dictonary with processed Values:
  @Media
  @Mediana
  @Moda
  @Variancia
  @Desvio Padr√£o

'''
def describe(variable):
  var_dic = {
      'Media':0.0,
      'Mediana':0.0,
      'Moda':0.0,
      'Variancia':0.0,
      'Std':0.0
  }
  var_dic['Media'] = np.mean(variable)
  var_dic['Mediana'] = np.median(variable)
  var_dic['Moda'] = mode(variable, axis=None)
  var_dic['Variancia'] = np.var(variable)
  var_dic['Std'] = np.std(variable)
  return var_dic

In [6]:
def print_describe(variable):
  dic = describe(variable)
  print('{}'.format(variable.name))
  print('M√©dia: {}'.format(dic['Media']))
  print('Mediana: {}'.format(dic['Mediana']))
  print('Moda: {}'.format(dic['Moda']))
  print('Vari√¢ncia: {}'.format(dic['Variancia']))
  print('Desvio Padr√£o: {}'.format(dic['Std']))

In [7]:
for var in data.columns:
  print_describe(data[var])
  print('\n')

V1
M√©dia: 5.843333333333335
Mediana: 5.8
Moda: ModeResult(mode=array([5], dtype=object), count=array([10]))
Vari√¢ncia: 0.6811222222222223
Desvio Padr√£o: 0.8253012917851409


V2
M√©dia: 3.057333333333334
Mediana: 3.0
Moda: ModeResult(mode=array([3], dtype=object), count=array([26]))
Vari√¢ncia: 0.1887128888888889
Desvio Padr√£o: 0.4344109677354946


V3
M√©dia: 7.100666666666666
Mediana: 7.4
Moda: ModeResult(mode=array([4.5], dtype=object), count=array([5]))
Vari√¢ncia: 3.4019995555555558
Desvio Padr√£o: 1.8444510173912334


V4
M√©dia: 3.7580000000000027
Mediana: 4.35
Moda: ModeResult(mode=array([1.4], dtype=object), count=array([13]))
Vari√¢ncia: 3.0955026666666665
Desvio Padr√£o: 1.759404065775303


V5
M√©dia: 17.21806666666667
Mediana: 18.925
Moda: ModeResult(mode=array([1.9599999999999997], dtype=object), count=array([13]))
Vari√¢ncia: 158.37928092888887
Desvio Padr√£o: 12.584883031990758


V6
M√©dia: 1.199333333333334
Mediana: 1.3
Moda: ModeResult(mode=array([0.2], dtype=object), count=array([29]))
Vari√¢ncia: 0.5771328888888888
Desvio Padr√£o: 0.7596926279021594