<a href="https://colab.research.google.com/github/carvalheirafc/dim0097/blob/master/lista1/quest%C3%A3o_c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
'''
IO 'Lista1_Conjunto1.xlsx' into Pandas Dataframe
Selected only columns with valid data. Excluded NaN.
Renamed columns names.

'''
data = pd.read_excel('Lista1_Conjunto1.xlsx', skiprows=1, usecols=[2,3,4,5,6,7])
data.columns = data.loc[[0]].values.reshape(-1)
data.head()

    V1   V2    V3   V4    V5   V6
0   V1   V2    V3   V4    V5   V6
1  5.1  3.5  4.95  1.4  1.96  0.2
2  4.9    3   5.3  1.4  1.96  0.2
3  4.7  3.2   4.6  1.3  1.69  0.2
4  4.6  3.1  4.55  1.5  2.25  0.2

In [3]:
'''
Execute this only once in a runtime session.
This delete only the first column, ['V1', 'V2', ...'V6']
'''
data.drop([0], inplace=True)

In [6]:
data.astype(float).describe().transpose()

    count       mean        std  min     25%     50%      75%    max
V1  150.0   5.843333   0.828066  4.3  5.1000   5.800   6.4000   7.90
V2  150.0   3.057333   0.435866  2.0  2.8000   3.000   3.3000   4.40
V3  150.0   7.100667   1.850630  3.8  5.1625   7.400   8.5875  11.50
V4  150.0   3.758000   1.765298  1.0  1.6000   4.350   5.1000   6.90
V5  150.0  17.218067  12.627044  1.0  2.5600  18.925  26.0100  47.61
V6  150.0   1.199333   0.762238  0.1  0.3000   1.300   1.8000   2.50